@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<div class="container card">
    <h1>Add New Machine</h1>
    <hr>
    @using (Html.BeginForm())
    {   
        <strong><p>Machine Name: @Html.TextBoxFor(model => model.MachineName)</p></strong>
        <hr>
        <strong><p>Inspection Date:</p></strong>
        @Html.TextBoxFor(model => model.InspectionDate, new {@type="date"})
        <hr>
        <br>
        <strong>@Html.Label("Assign engineer:")</strong>
        @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngeneerId, "-No engineers-")
        <br>
        <input style="width: 3.87in;"  type="submit" value="Assign" class="btn btn-warning"/>
    }
    <hr>
    <input class="btn btn-info" type="button" value="Machine List" onclick='location.href="@Url.Action("Index", "Machines")";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>