@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container card">
    <h4>Add New Machine</h4>

    @using (Html.BeginForm())
    {   
        <p>Machine Name: @Html.TextBoxFor(model => model.Name)</p>

        @Html.LabelFor(model => model.InspectionDate)
        @Html.TextBoxFor(model => model.InspectionDate, new {@type="date"})
        <br>
        @Html.Label("Select engineer:")
        @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngeneerId, "-No engineer-")
        <br>
        <input type="submit" value="Add new machine" />
    }

    <p>@Html.ActionLink("Machine List", "Index")</p>
</div>