@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container card">
    <h1>Add New Machine</h1>

    @using (Html.BeginForm())
    {   
        <p>Machine Name: @Html.TextBoxFor(model => model.MachineName)</p>

        @Html.LabelFor(model => model.InspectionDate)
        @Html.TextBoxFor(model => model.InspectionDate, new {@type="date"})
        <br>
        @Html.Label("Assign engineer:")
        @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngeneerId, "-No engineers-")
        <br>
        <input type="submit" value="Add new machine" class="btn btn-warning"/>
    }
<br>
    <input class="btn btn-info" type="button" value="Machine List" onclick='location.href="@Url.Action("Index", "Machines")";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>