@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container card">
    <h1>Machine Details</h1>

    <p><strong> Name:</strong> @Html.DisplayFor(model => model.MachineName)</p>
    <p><strong>Last Inspection Date:</strong>  @Html.DisplayFor(model => model.InspectionDate)</p>
    <hr>
    @* <h4>@Html.LabelFor(model => model.Condition):</h4>
    <h4> Operational @Html.CheckBoxFor(model => model.Condition)</h4>
    <h4> Malfunctioning @Html.CheckBoxFor(model => model.Condition) </h4>
    <h4> Being repaired @Html.CheckBoxFor(model => model.Condition)</h4> *@
    @if(@Model.Engineers.Count == 0)
    {
      <p>This Machine does not have any engineers assigned to it yet</p>
    }
    else
    {
      <p>Engineers that are assigned to work on this machine:</p>
      <ul>
      @foreach(var join in Model.Engineers)
      {
        <li>@Html.ActionLink(@join.Engineer.EngineerName, "Details", "Engineers", new { id = @join.Engineer.EngineerId})</li>
        @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input class="btn btn-warning" type="submit" value="Delete"/>
        }
      }
      </ul>
    }
<br>
    <input class="btn btn-info" type="button" value="Add Engineer" onclick='location.href="@Url.Action("Create", "Engineers", new { id = Model.MachineId })";' />
    <input class="btn btn-info" type="button" value="Edit Machine" onclick='location.href="@Url.Action("Edit", "Machines", new { id = Model.MachineId })";' />
    <input class="btn btn-info" type="button" value="Delete Machine" onclick='location.href="@Url.Action("Delete", "Machines", new { id = Model.MachineId })";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>





@* <div class="card">
    <p>@Html.ActionLink("Assign Engineer", "AddEngineer", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Add Engineer ", "Create", "Engineers", new { id = Model.MachineId})</p>
    <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div> *@
