@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Machine>;
<div class="container card">
    <h1>The Machines</h1>
    <hr>
    <form>
        <i class="glyphicon glyphicon-search"></i><input type="text" name="MachineSearch" placeholder="search and press enter">
    </form>
    <hr>
    @if (@Model.Count == 0)
    {
      <p>No machines have been added yet!</p>
    } 
    @foreach (Machine machine in Model)
    {
      <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId }) | @machine.InspectionDate</li> 
    }
    <hr>
    <br>
    <input class="btn btn-info" type="button" value="Add New Machine" onclick='location.href="@Url.Action("Create", "Machines")";' />
    <input class="btn btn-info" type="button" value="Delete All Machines" onclick='location.href="@Url.Action("DeleteAll")";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>