@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="container card">
    <h2>Engineer Details</h2>

    <h3>@Html.DisplayFor(model => model.Name)</h3>

    @if(@Model.Machines.Count() == 0)
    {
        <p>This Engineer is not assigned to any Machine yet</p>
    }
    else
    {
        <h5>Machines this Engineer is assigned to:</h5>

        @foreach(var join in Model.Machines)
        {
            @Html.ActionLink(@join.Machine.Name, "Details", "Machines", new { id = @join.Machine.MachineId})
        }
      
    }

    <p>@Html.ActionLink("Add Machine ", "Create", "Machines", new { id = Model.EngineerId})</p>
    <p>@Html.ActionLink("Edit Engineers", "Edit", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>